body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 20px 60px; /* 20px on top and bottom and 80px on the side */
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}